<div class="container">

    <div class="row">

        <div class="panel panel-primary center-block" style="width: 50%">
            <div class="panel-heading" style="text-align: left">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form id="admin-login-form" method="post">
                    <div class="">
                        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
                            height="72">
                        <label for="admin_username" class="sr-only">Username</label>
                        <input id="admin_username" name="admin_username" class="form-control" style="margin-bottom: 10px"
                            placeholder="Username" value="quangnd2" required="" autofocus="">
                        <label for="admin_password" class="sr-only">Password</label>
                        <input id="admin_password" name="admin_password" class="form-control" style="margin-bottom: 10px"
                            placeholder="Password" value="111111" required="" type="password">
                        <br>
                        <div>
                            <button id="admin_login" class="btn btn-lg btn-primary btn-block">Login</button>
                        </div>
                    </div>
                    <br>
                    <a href="/driver/login">login as a driver</a>
                </form>
            </div>
        </div>

    </div>

</div>