{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}
{{!-- <h3>Xây Dựng Hệ Thống Đặt xe máy qua thông tin khách hàng nhập vào</h3> --}}

<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
  <div id="driver-map-api" style="width: 100%; height: 500px;" class="text-center">
  </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
  <button id="updateDriverLocation" type="button" class="btn btn-danger">Update Driver Location</button>
  <!--<button id="updateDriverStatus" type="button" class="btn btn-danger">Update Driver Status</button>-->
</div>
<script type="text/javascript" src="/javascripts/driverjs.js"></script>
