{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}
<div class="panel panel-primary center-block" style="text-align: center; width: 50%">
  <div class="panel-heading" style="text-align: left">
    <h3 class="panel-title" style="text-align: center">Login</h3>
  </div>
  <div class="panel-body">
    <form id="driverLoginForm" method="post">
      <div class="">
        <div class="form-group ">
            <label for="driver_username">Username: &#160;</label>
            <input type="text" class="form-control" id="driver_username" placeholder="Username">
          </div>&#160;&#160;
          <div class="form-group">
            <label for="driver_password">Password: &#160;</label>
            <input class="form-control" id="driver_password" placeholder="Password" type="password">
          </div>
        <br>
        <div>
          <button id="driver_login" class="btn btn-lg btn-primary btn-block">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="/javascripts/driverjs.js"></script>

